@{
    ViewData["Title"] = "Task";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script  defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script defer src="/js/site.js"></script>
</head>

<body>
    <div class="container">

        <h2>ASP.NET Web Application</h2>
        <p>
            Develop an ASP.NET web application with a single page displaying a list of contacts with the ability to add, edit, and delete contacts. The list of contacts should be retrieved from a local database.
        </p>

        <h3>Application Logic:</h3>
        <ul>
            <li>Server-Side Application Logic:
                <ul>
                    <li>Implement CRUD (Create, Read, Update, Delete) logic for contact entities.</li>
                    <li>Use the following key properties for contacts:
                        <ol>
                            <li>Name</li>
                            <li>MobilePhone</li>
                            <li>JobTitle</li>
                            <li>BirthDate</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>User Interface Logic:
                <ul>
                    <li>Develop a web page that displays a list of contacts.</li>
                    <li>When selecting a contact, provide the ability to edit its properties.</li>
                    <li>Implement the ability to create and delete contacts.</li>
                    <li>Use pop-up windows for adding and editing contacts.</li>
                    <li>Implement validation for input values using JavaScript (define validation criteria independently).</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
